form {
    max-width: 420px;
    margin: 0px auto;
    margin-bottom: 50px;
    padding: 30px;
    background-color: rgba($color: #000000, $alpha: 0.5);
    border: 1px solid rgba($color: #fff, $alpha: 0.2);
    border-radius: 10px;

    
}
    input {
        all:unset;
        width: 90%;
        padding: 15px 20px;
        background-color: black;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 5px;
        margin-bottom: 5px;
        font-size: 16px;
        color: white;
        
        &::placeholder {
            color: rgba(255, 255, 255, 0.7);
        }
    }
    


input[type="submit"], .social__btn {
    background-color:rgba($color: $red, $alpha: 0.9);
    text-align: center;
    padding: 12px 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    display: block;
    border-radius: 5px;
    text-transform: uppercase;

    .fab.fa-github{
        font-size: 16px;
        font-weight: 600;
    } 
}