#videoContainer {
    width: 100%;
    position: relative;
    
    video {
        width: 100%;
    }

    .videoControls {
        opacity: 1;
        transition: opacity 0.5s ease-in-out;

        &.showing {
            opacity: 1;
        }

        position: absolute;
        left: 0;
        right: 0;
        bottom: 10px;
        width: 95%;
        margin: 0px auto;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 4fr 1fr auto;
        gap: 10px;
        justify-content: space-between;
        padding: 10px;
        background-color:#0f1117;
        border-radius: 10px;
        box-sizing: border-box;

        
        .videoControls__play {
            display: flex;
            align-items: center;
            justify-content:space-around;

            .videoControls__playBtn {
                margin: 0px 15px;
            }
            .videoControls__time {
                font-size: 12px;
            }
        }

        .videoControls__volume {
            display: flex;
            align-items: center;
            span {
                margin-left: 10px;

                i {
                    font-size: 20px;
                }
            }
        }
    }
}