.edit-profile__form {
    label {
        font-size: 14px;
        display: block;
        margin-bottom: 10px;
    }
}
.edit-profile_password  {
    text-align: center;
    margin-top: 50px;
    a {
        text-decoration: underline;
    }
}