.videoRecorder {
    max-width: 720px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 20px;
    video {
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
    }
    button {
        all: unset;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        font-size: 12px;
        border: 1px solid white;
        border-radius: 5px;
        padding: 10px 15px;
        cursor: pointer;
        box-sizing: border-box;
    }
}

.upload__form {
    label {
        font-size: 14px;
        display: block;
        margin-bottom: 10px;
    }

    input[type="submit"] {
        text-align: center;
        cursor: pointer;
    
    }
}