extends base

block content
    p=errorMessage
    form(method="POST")
        input(name="name" type="text" placeholder="Your Name" required)
        input(name="email" type="email" placeholder="Email Address" required)
        input(name="username" type="text" placeholder="User Name" required)
        input(name="password" type="password" placeholder="Password" required)
        input(name="location" type="text" placeholder="Location")
        input(type="submit" value="Create Account")