extends base

block content 
    div.videoRecorder
        video#preview
        button#startBtn Start Recording
    if errorMessage 
        span=errorMessage
    form(method="POST" action="/videos/upload" enctype="multipart/form-data").upload__form 
        label(for="video") Video File
        input(name="video" type="file" id="video" accept="video/*" required)
        input(name="title" type="text" placeholder="Title" required maxlength=50)
        input(name="description" type="text" placeholder="Description" required minlength=20)
        input(name="hashtags" type="text" placeholder="Hashtags, seperated by comma" required)
        input(type="submit" value="Upload Video")

block scripts
    script(src="/static/js/recorder.js")