extends base

block content 
    form(method="POST" action="/videos/upload") 
        input(name="title" type="text" placeholder="title" required)
        input(name="description" type="text" placeholder="description" required)
        //- input(name="file" type="file" required)
        input(type="submit" value="Upload Video")